knob {
    width: 50px;
    height: 50px;
}

knob .track {
    background-color: white;
}

knob label {
    child-space: 1s;
    color: white;
}

knob .tick {
    background-color: #696969;
}

param-selector param-button {
    width: 50px;
    font-size: 12px;
    child-space: 1s;
}

/*vstack {*/
/*    outline-color: red;*/
/*    outline-width: 2px;*/
/*}*/

/*hstack {*/
/*    outline-color: blue;*/
/*    outline-width: 1px;*/
/*}*/